/* font-family: "Lato", sans-serif;
font-family: "Roboto Condensed", sans-serif; */

img {
  width: 400px;
  height: 200px;
  transition: 0.5s all;
}
img:hover {
  width: 500px;
  height: 300px;
}
p {
  font-family: "Lato", sans-serif;
  animation-name: textAnimation;
  animation-duration: 4s;
}
h1,
h2 {
  font-family: "Roboto Condensed", sans-serif;
  animation-name: textAnimation;
  animation-duration: 4s;
}
li {
  font-family: "Lato", sans-serif;
  animation-name: textAnimation;
  animation-duration: 4s;
}
#main {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 50px;
}
.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image-grid > img {
  margin: 5px;
}
#image-1 {
  float: right;
  margin: 15px;
}

.post {
  background: rgb(255, 228, 161);
  border: 2px solid rgb(242, 176, 10);
  padding: 10px;
  margin: 10px;
}
a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: rgb(67, 129, 230);
  transition: 0.5s color;
  animation-name: textAnimation;
  animation-duration: 4s;
}
a:hover {
  color: rgb(180, 207, 250);
}
@keyframes textAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background: rgba(180, 207, 250, 0.5);
}
