* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
img {
  height: 20rem;
  width: 10rem;
}
a {
  display: block;
  background: grey;
  height: 3rem;
  text-align: center;
}
